@tailwind base;
@tailwind components;
@tailwind utilities;

.button {
    padding: 8px 16px;
    background-color: #719458; /* Green background */
    color: #fdebae;
    border-radius: 4px; /* Rounded corners */
    text-align: center; /* Centered text */
    display: inline-block; /* Inline block */
    font-size: calc(10px + 2vmin); /* Responsive font size */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transitions */
    cursor: pointer; /* Pointer cursor on hover */
    border: 2px solid #719458; /* Green border on hover */
  }
  
.button:hover {
    background-color: #fdebae; /* White background on hover */
    color: #719458; /* Green text on hover */
    border: 2px solid #719458; /* Green border on hover */
}

.wrapper
{
    font-family: Tahoma;
    font-size: 14px;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    height: 30%;
    width: 30%;
    background: rgb(173, 109, 64, 0.4);
    margin: auto;
    padding-bottom: 20px;
}

.wrapper h2
{
    padding-top: 10px;
    font-size: 36px;
    text-align: center;
    color: #cb3032;
    text-shadow: 1px 1px 2px #d57885;
}

.wrappercolor
{
    background: rgb(173, 109, 64, 0.3);
}

.submitbox
{
    border-radius: 20px;
    border: 2px solid black;
    width: 100px;
    height: 30px;
    margin-bottom: 2.5%;
    background: #3d592e;
    font-family: Tahoma;
    cursor: pointer;
}

.inputbox
{
    border-radius: 20px;
    border: 2px solid black;
    width: 60%;
    height: 30px;
    margin-bottom: 2.5%;
    font-family: Tahoma;
}

.overlay 
{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.modal 
{
    background: #c9ce2d;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    min-width: 200px;
    color: #304524;
}